@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica;
}
body {
  background-color: #0c1424;
}
.pantalla {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #0c1424;
}
h1,
h2 {
  color: white;
}
label {
  color: #32a1ce;
}
td {
  color: #fff;
  width: auto;
  padding: 10px;
  border: 1px solid #32a1ce;
  border-spacing: 0;
}
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.encabezado1 {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.encabezado1 input {
  font-size: larger;
  margin: 0% 0% 0 0%;
  padding: 1%;
  background: none;
  color: white;
  border: none;
  outline-color: #fff;
  border-bottom: 1px solid #32a1ce;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #32a1ce;
  color: #fff;
}

.encabezado2 {
  display: flex;
  width: 100%;
  height: 80%;
}
.cliente {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  margin: 2%;
  /*align-items: center;*/
}
.cliente input {
  width: 90%;
  height: 7%;
  margin: 0% 0% 0% 0%;
  padding: 1%;
  background: none;
  color: white;
  border: none;
  outline-color: #fff;
  border-bottom: 1px solid #32a1ce;
}

.disfraz {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  margin: 2%;
}
.disimput {
  width: 90%;
  height: 7%;
  margin: 0% 0% 0% 0%;
  padding: 1%;
  background: none;
  color: white;
  border: none;
  outline-color: #fff;
  border-bottom: 1px solid #32a1ce;
  /*border-radius: 5px;*/
}
.agregar_disfraz {
  display: flex;
  width: 100%;
  height: 4%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
select {
  outline: none;
  color: #0c1424;
  background-color: #32a1ce;
}
option {
  color: #0c1424;
}
#add {
  display: flex;
  text-align: center;
  border-radius: 5px;
  height: 20%;
  height: 40px;
  background-color: #48e;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  /*font-size: x-large;*/
}
#add:hover {
  outline: outset;
  outline-color: #48e;
  box-shadow: 0 0 4px 4px #ffffff80;
}
.enviar:hover {
  outline: outset;
  outline-color: #48e;
  box-shadow: 0 0 4px 4px #ffffff80;
}
#tabla {
  display: flex;
  width: 100%;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: column;
}
.titulo_dis {
  display: flex;
  width: 100%;
  height: 4%;
  justify-content: center;
}
.centrar {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 95%;
  /*height: 20%;*/
  border: #32a1ce 1px solid;
  align-items: center;
  justify-content: center;
  border-spacing: 0;
}

thead {
  width: 80%;
  /*height: 20%;*/
  border: #32a1ce 1px solid;
  align-items: center;
  justify-content: center;
  border-spacing: 0;
}
tbody {
  width: 80%;
  /*height: 20%;*/
  border: #32a1ce 1px solid;
  align-items: center;
  justify-content: center;
  border-spacing: 0;
}

table input {
  font-size: medium;
  margin: 0% 0% 0% 0%;
  padding: 0%;
  background: none;
  color: white;
  width: auto;
  border: none;
  outline: none;
}
.acciones {
  display: flex;
  justify-content: space-evenly;
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx {
  font-size: 175%;
}
.enviar {
  background-color: #48e;
  color: #fff;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
}
.editable {
  padding: 0px;
  width: 70px;
}
/* CODIGO PARA RESPONSIVE MOBIL */
#tabla{
  overflow-x: scroll;/* Hace que el contenedor tenga una barra de desplazamiento horizontal si el contenido es demasiado ancho */
}

table {
  white-space: nowrap;
}
th, td {
  min-width: 150px;
  padding: 10px;
}
@media only screen and (max-width: 480px) {

  #tablas{
    display: block;

  }


}





/*form{
    flex-direction: column;
    display: flex;
    /*align-self: center;
    justify-content: center;
}*/

